<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            ClassCompass
        {% endblock %}
    </title>
</head>


<body>

    <header>
        <h1>ClassCompass</h1>

        <nav>
            <a href="{% url 'courses:course_list' %}">
                Courses
            </a>
        </nav>

        <hr>
    </header>


    <main>

        {% block content %}
        {% endblock %}

    </main>


    <footer>
        <hr>
        <p>ClassCompass</p>
    </footer>

</body>

</html>